# notebook requirements
seaborn
ipympl

# testing requirements
pytest
scipy

# development requirements
nbdime # for git merging notebooks
build # for generating distribution package
twine # for uploading package

--extra-index-url https://download.pytorch.org/whl/cpu  # cpu only install of pytorch
-e .